---
token: "ad523cdc56cdc28fb99a265dc87c767a79563854"
user: "sangrah92"
password: "SK#thehero3164"
github_type: "online"
web_url: "https://github.com"
base_url: "https://github.com/api/v3"
deployment_environment: "production"
repository_sensor:
  event_type_whitelist:
    - "IssuesEvent"
    - "IssueCommentEvent"
    - "ForkEvent"
    - "WatchEvent"
    - "ReleaseEvent"
    - "PushEvent"
  repositories:
    - user: "sangrah92"
      name: "api_call"
    - user: "sangrah92"
      name: "hello_sensor"
  count: 30  # Maximum number of old events to retrieve
